*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bacasime Antique', serif;
}

.Cabeçalho{
    background-color: rgb(101,71,129);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}
h1{
    margin: 0 24px;
    padding: 20px 0;
    font-size: 58px;

}

.Cabeçalho-lista-item{
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

.Colégio-imagem{
    width: 20%;
}
.Colégio{
    background-image: linear-gradient( rgb(101,71,129), rgb(214, 29, 159));
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Colégio-div-conteudo{
    width: 35%;
}

.Colégio-Título{
    padding: 5px 0;
}

.Estudante-imagem{
    width: 120px;

}

.Estudante-icone{
    width: 24px;
    padding: 5px;
}

.Estudante-div{
    text-align: center;
}

.Estudante-Título{
    text-align: center;
    padding: 24px 0;
}

.Estudante-Todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}